<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="نحو طريق الله"
        android:supportsRtl="true"
        android:theme="@style/Theme.التسبيح"
        tools:targetApi="31">
        <activity
            android:name=".Salat_Time"
            android:exported="false" />
        <activity
            android:name=".Progress_Activity"
            android:exported="false" />
        <activity
            android:name=".Salat_Takyin"
            android:exported="false" />
        <activity
            android:name=".Adkar_Bad_Salat"
            android:exported="false" />
        <activity
            android:name=".Adkar_Massae"
            android:exported="false" />
        <activity
            android:name=".Adkar_Sabah"
            android:exported="false" />
        <activity
            android:name=".Adkar_Nawm"
            android:exported="false" />
        <activity
            android:name=".Adkar"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tsbih"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Salat"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>